@import "tailwindcss";

.zona-popup .maplibregl-popup-content {
  padding: 4px 10px !important;
  border-radius: 6px !important;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15) !important;
}
.zona-popup .maplibregl-popup-tip {
  display: none !important;
}
